.trackerBlock {
  /* border-radius: 5px; */
  box-sizing: border-box;
  /* background-color: #E9E9E9; */
  padding: 20px;
  width: 100%;
  max-width: 350px;
  margin: 100px auto;
  display: table;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.welcome {
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin: 0;
  text-shadow: 0px 5px 3px #292929;
}
.totalMoney {
  color: #fff;
  font-size: 20px;
  margin: 0 0 10px;
  text-shadow: 0px 5px 3px #292929;
}

.newTransaction {
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  display: table;
  width: 100%;
  border-radius: 5px;
  background-color: darkcyan;
  border: 0;
  padding: 10px;
  margin: 0 0 10px;
  font-size: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.newTransaction input[type='text'],
.newTransaction select {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid darkseagreen;
  font-size: 13px;
  padding: 7px;
}

.newTransaction input[type='text']:focus,
.newTransaction select:focus {
  outline: none;
}

.inputGroup {
  display: flex;
  justify-content: center;
}

.addTransaction {
  text-align: center;
  color: #ffffff;
  border-radius: 3px;
  background-color: darkcyan;
  border: 0;
  margin: 5px 0 0;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
}

.addTransaction:hover {
  background-color: #274177;
}

.addTransaction:focus {
  outline: none;
}

.latestTransactions {
  margin: 10px 0 0 0;
  background-color: darkcyan;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.latestTransactions p {
  font-weight: bold;
  padding: 0 0 5px;
  margin: 0;
  font-size: 13px;
  border-bottom: 1px solid seagreen;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  border-bottom: 1px solid seagreen;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}

ul li:last-child {
  border-bottom: 0;
  padding: 5px 0 0;
}

.expense {
  color: salmon;
}

.deposit {
  color: rgb(127, 29, 184);
}

.exit {
  background-color: darkcyan;
  border: 0;
  border-radius: 3px;
  color: seashell;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.exit:hover {
  background-color: darkcyan;
}
