body {
  background-image: linear-gradient(
    to top,
    #6b71d1,
    #6f7ed5,
    #768ad8,
    #7e96da,
    #88a1db,
    #87a2df,
    #86a3e2,
    #85a4e6,
    #789aed,
    #6d90f2,
    #6486f7,
    #5f7afb
  );
  color: #424467;
  height: 480%;
}
